<%- include("partials/header") %>

  <body style="background-color: #f5eded">
    <section id="admin">
      <div class="admin-welcome">
        <div class="container-fluid padding text-center">
          <h1>Nick's Jr Admin</h1>

          <form action="/logout" method="POST">
            <div class="form-group">
              <button class="btn btn-dark btn-lg border border-danger" type="submit" name="button">Logout</button>
            </div>
          </form>
        </div>
      </div>

      <div class="admin-display-edit">
        <div class="container-fluid padding">
          <p style="color: red"><%= typeof msgItem != "undefined" ? msgItem : "" %></p>

          <div class="row">
            <div class="col-md-6">
              <h1>Item of the Month</h1>

              <form action="/admin/submit/monthly" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                  <label for="burg-title">Item Name</label>
                  <input class="form-control" type="text" name="burgerTitle" value="<%= burgTitle %>">
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <img src="<%= burgImg %>" height="150" width="150" class="img-fluid thumbnail">
                    <div class="form-group">
                      <label for="burg-image">Item Image</label>
                      <input type="file" name="itemMonthImage" class="form-control-file" accept="image/jpeg, image/png">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="burg-desc">Item Description</label>
                  <textarea class="form-control" name="burgerDesc" rows="4"><%= burgDesc %></textarea>
                </div>
                <button class="btn btn-dark border border-danger" type="submit" name="button">Submit</button>
              </form>
            </div>

            <div class="col-md-6">

            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
